.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 10px;
  border-radius: 12px;
  max-width: 400px;
  margin: 20px auto;
}

.text {
  text-align: center;
  font-size: 20px;
  color: #ff1744;
  text-shadow: 0 0 10px #ff1744, 0 0 20px #ff1744;
  font-weight: bold;
}

.message {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  color: #ff5252;
  font-weight: 500;
}
